<f:layout name="Default"/>
<f:section name="Main">
	<div id="content">
		<div class="inner_content">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}"/>
		</div>
	</div>
</f:section>


<div id="news">
	<div id="newsInner">
		<h1 class="news">News</h1>
		<div class="news-latest-item">
			<span></span>
			<h3>
				Die richtige Ernährung im Alltag<br/>
				Vortrag von Dr. Stubner
			</h3>
			<div class="content">
				<span class="important">Termin:</span>
				<br/>
				<b>20.10.2010</b>
				<p>
					19:30 Uhr im EG Gesundheitszentrum Rastatt
				</p>
				<hr/>
				<span class="important">Termin:</span>
				<br/>
				<b>20.10.2010</b>
				<p>
					19:30 Uhr im EG Gesundheitszentrum Rastatt
				</p>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<img src="images/bild.jpg"/>
</div>
