//$hausschrift: "ff-dax-web-pro-condensed", Arial; // Via Typekit eingebunden
$hausschrift: "ff-dax-pro-condensed", Arial; // Via Typekit eingebunden

$font-base: 1.4em;

$breakpoints: (
    small: 767px,
    medium: 992px,
    large: 1200px
);


$default-gap: 15px;
$floor-height: 139px;
$header-height: 100px;
$footer-height: $header-height;

$grid-gap: $default-gap;
$col-count: 5;
$grid-col: 180px;
$grid-first-col: $grid-col;
$grid-double-col: $grid-col * 2 + $grid-gap;

$max-width: ($grid-col * $col-count) + ($grid-gap * ($col-count - 1));

// usage:

$cyan: #10bbef;
$rot: #ea5160;
$gruen: #93bd55;
$gelb: #fdc420;
$grau: #878787;

$ghz-colors: (
  base: $grau,
  base-light: lighten($grau, 25%),
  base-lighter: #f2f2f2,
  eg: $gelb,
  og1: $rot,
  og2: $cyan,
  og3: $gruen
);
// usage: map-get($ghz-colors, base);

$color-link: map_get($ghz-colors, og1);
$color-header: map_get($ghz-colors, og1);


$body-bg: #ffffff;

$hamburger-layer-color: map-get($ghz-colors, base);

$base-color: darken(map-get($ghz-colors, base), 15%);
