$hausschrift: "ff-dax-web-pro-condensed", Arial; // Via Typekit eingebunden


$default-gap: 30px;

$breakpoints: (
    small: 767px,
    medium: 992px,
    large: 1200px
);

// usage:

$cyan: #10bbef;
$rot: #ea5160;
$gruen: #93bd55;
$gelb: #fdc420;
$grau: #878787;

$ghz-colors: (
  base: $grau,
  base-light: lighten($grau, 25%),
  eg: $gelb,
  og1: $rot,
  og2: $cyan,
  og3: $gruen
);

// usage: map-get($ghz-colors, base);

$hamburger-layer-color: map-get($ghz-colors, base);

$base-color: map-get($ghz-colors, base);