
// vars + mixins + grid
@import "variables";
@import "lib/mixins";
@import "lib/css_grid";

// Parts
@import "lib/basic";
@import "lib/fonts";

@import "lib/js_gesture_menu";
@import "lib/floors";
@import "lib/mobile_navigation";
@import "lib/header";
@import "lib/navigation";
@import "lib/content";
@import "lib/news";
@import "lib/footer";


// bower:scss
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: $body-bg;
  margin: 0;
}

// @import "depc/rastatt";